[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/everest-chainlink-consumer"]
	path = lib/everest-chainlink-consumer
	url = https://github.com/palmcivet7/everest-chainlink-consumer
[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
